{% extends "base.html" %}

    {% block title %}注册{% endblock %}
 {% block metas %}
        {{ super() }}
        <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    {% endblock %}

{% block content %}
    {{ super() }}
<div class="container" style="margin-top: 3%">
    <div class="login">
        <div class="login-screen">
            <div class="login-icon">
            <img src="{{ url_for('static',filename = 'img/icon.png') }}" alt="Welcome to Mail App" />
            <h4>Welcome to <small>Mail App</small></h4>
          </div>

        <div class="login-form" style="margin-top: -90px;margin-left: -20px">
            <form method="POST">
                {{ form.csrf_token }}
            <!--邮箱-->

              <div class="form-group"  style="margin-top: -10px">

                {{ form.email(class="form-control login-field" ,value="" ,placeholder="Enter your email" ,id="login-email") }}
              <label class="login-field-icon fui-mail" for="login-email"></label>
                {% for e in form.email.errors %}
                <small style="color: red">*{{ e }}</small>
                {% endfor %}
            </div>
          <!--用户名-->
            <div class="form-group" style="margin-top: -10px">

                {{ form.username(class="form-control login-field" ,value="" ,placeholder="Enter your name" ,id="login-name") }}
              <label class="login-field-icon fui-user" for="login-name"></label>
                {% for e in form.username.errors %}
                <small style="color: red">*{{ e }}</small>
                {% endfor %}
            </div>
            <!--密码-->
            <div class="form-group" style="margin-top: -10px">
           {{ form.password1(class="form-control login-field", value="", placeholder="Password" ,id="login-pass") }}
                {% for e in form.password1.errors %}
                <small style="color: red">*{{ e }}</small>
                {% endfor %}
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
              <!--第二次密码-->
              <div class="form-group" style="margin-top: -10px">

                {{ form.password2(class="form-control login-field" ,value="" ,placeholder="Enter your Password again" ,id="login-pass1") }}
              <label class="login-field-icon fui-lock" for="login-pass1"></label>
                {% for e in form.password1.errors %}
                <small style="color: red">*{{ e }}</small>
                {% endfor %}
            </div>


              {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
            </form>
          </div>

        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
